html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Style */

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #1f2937;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
  flex: 1;
  max-width: 1000px;
  margin: auto;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header ul {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.header ul a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/* hero */
.hero-wrapper {
  background-color: #1f2937;
}

.hero {
  display: flex;
  margin: auto;
  padding: 64px;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  gap: 16px;
}

.hero-img-wrapper {
  flex: 1 1 0;
}

.hero-img {
  width: 500px;
}

.hero-content {
  flex: 1 1 0;
  /*width: 100px;*/
  color: white;
}

.hero-content .main {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-content .secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-content .btn-sign-up {
  background-color: #3882f6;
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
}

.img-wrapper {
  padding: 32px;
}